<!--

Golden Hour App Group 1
UMGC CMSC 495 7385
Shivam Patel, Raymond Rowland, Mariam Ahmed, Katrina Wilhelm, Paul Cooper
November 5, 2025

cityData.html

Handles the display of weather and sunrise/sunset data
for a specified city or geographical coordinates.
-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>GoldenHour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='resources/Sunapp.png') }}" />
  </head>
  <body>
    <header class="site-header">
      <a href="/">
        <img src="{{ url_for('static', filename='resources/Sunapp.png') }}" alt="Logo" class="logo" />
      </a>
      <h1>GoldenHour</h1>
      <p class="tagline">Plan your outdoor activities by sunrise, sunset, and weather</p>
    </header>

    <header class="mobile-site-header">
      <a href="/">
        <img src="{{ url_for('static', filename='resources/Sunapp.png') }}" alt="Logo" class="logo" />
      </a>
    </header>

    <main class="container">
      <section class="hero">
        <h4 class="centered golden">A 'Golden Score' (> 80) represents ideal conditions, calculated using cloud coverage, visibility, and temperature closeness to the 65 - 75°F comfort range</h4>
      </section>
      <br>
      <section class="hero">
        <h3 class="centered">{{ weather_data.city_name }}, {{ weather_data.country }}</h3>
        <p class="centered">Latitude: {{ weather_data.coordinates[0] }} Longitude: {{ weather_data.coordinates[1] }}</p>
        {% if user %}
          {% if is_location_favorited(user, weather_data.coordinates[0], weather_data.coordinates[1]) %}
            <form action='/removeFavorite' method='post' class="centered">
              <input type='hidden' name='latitude' value='{{ weather_data.coordinates[0] }}'/>
              <input type='hidden' name='longitude' value='{{ weather_data.coordinates[1] }}'/>
              <input class="favorite-image" type="image" width="25px" src="{{ url_for('static', filename='resources/icon_star_round.png') }}" />
            </form>
            
          {% else %}
            <input class="favorite-image" width="25px" type="image" 
              src="{{ url_for('static', filename='resources/icon_star_round_outline.png') }}"
              onclick="addToFavorites('{{ url_for('favorite') }}', {{ weather_data.coordinates[0] }}, {{ weather_data.coordinates[1] }}, '{{ weather_data.city_name }}', '{{ weather_data.country }}')" 
            />
          {% endif %}
        {% endif %}
        <div class="weather-grid">
          <h4>Date</h4>
          <h4>Sunrise  {{ weather_data.sunrise_dt }}</h4>
          <h4>Sunset  {{ weather_data.sunset_dt }}</h4>
        {% for day in weather_data.days %}  
          <div class="weather-card">
            <h4>{{ day.date }}</h4>
            <h5>Temperature</h5>
            <h5>Weather</h5>
            <h5>Golden Score</h5>
          </div>
          <div class="weather-card">
            <hr width="90%"/>
            {% if day.sunrise_event %}
              <p>{{ day.sunrise_event.temp }} &deg;F</p>
              <img width="48" height="48" src="{{ url_for('static', filename='resources/weather/' + day.sunrise_event.get_image_name() + '.png') }}" alt="Weather icon" />
              {% if day.sunrise_event.calc_golden_score() >= 80 %}
                <p class="golden">{{ day.sunrise_event.calc_golden_score() }} / 100</p>
              {% else %}
                <p>{{ day.sunrise_event.calc_golden_score() }} / 100</p>
              {% endif %}
            {% else %}
              <p>Sunrise already occurred</p>
              <img width="48" height="48" src="{{ url_for('static', filename='resources/weather/n_a.png') }}" alt="Weather icon" />
              <p>0/100</p>
            {% endif %}
          </div>
          <div class="weather-card">
            <hr width="90%"/>
            {% if day.sunset_event %}
              <p>{{ day.sunset_event.temp }} &deg;F</p>
              <img width="48" height="48" src="{{ url_for('static', filename='resources/weather/' + day.sunset_event.get_image_name() + '.png') }}" alt="Weather icon" />
              {% if day.sunset_event.calc_golden_score() >= 80 %}
                <p class="golden">{{ day.sunset_event.calc_golden_score() }} / 100</p>
              {% else %}
                <p>{{ day.sunset_event.calc_golden_score() }} / 100</p>
              {% endif %}
            {% else %}
              {% if day.sunrise_event %}
                <p>Sunset too far to forecast</p>
              {% else %}
                <p>Sunset already occurred</p>
              {% endif %}
              
              <img width="48" height="48" src="{{ url_for('static', filename='resources/weather/n_a.png') }}" alt="Weather icon" />
              <p>0/100</p>

            {% endif %}
          </div>
        {% endfor %}
        </div>
      </section>
      <button id="back">Go Back</button>
    </main>

    <dialog id="errorDialog" class="error-dialog">
      <p id="dialogMessage"></p>
      <button autofocus>Close</button>
    </dialog>
    
    <footer>
      <small>© 2025 GoldenHour for CMSC495</small>
    </footer>
    
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script>
      document.querySelector('#back').addEventListener('click', function() {
        window.location.href = "{{ url_for('index') }}";
      });

      const dialog = document.querySelector('#errorDialog');
      const closeButton = dialog ? dialog.querySelector('button') : null;
      closeButton?.addEventListener('click', () => {
          dialog.close();
      });

      const flashedMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
      parseFlashedMessages(flashedMessages, dialog);
    </script>
  </body>
</html>
