<!--

Golden Hour App Group 1
UMGC CMSC 495 7385
Shivam Patel, Raymond Rowland, Mariam Ahmed, Katrina Wilhelm, Paul Cooper
November 5, 2025

cityData.html

Handles the display of weather and sunrise/sunset data
for a specified city or geographical coordinates.
-->

{% extends "base.html" %}
{% block title %}City Data - GoldenHour{% endblock %}
{% block content %}
  <section class="hero">
    <h4 class="centered golden">A 'Golden Score' (> 80) represents ideal conditions, calculated using cloud coverage, visibility, and temperature closeness to the 65 - 75°F comfort range</h4>
  </section>
  <br>
  <section id="weather" class="hero"></section>
  <br>
  <button id="back">Go Back</button>

  <dialog id="errorDialog" class="error-dialog">
    <p id="dialogMessage"></p>
    <button autofocus>Close</button>
  </dialog>
{% endblock %}
  
{% block scripts %}
  <script>
    document.querySelector('#back').addEventListener('click', function() {
      window.location.href = "{{ url_for('index') }}";
    });

    const dialog = document.querySelector('#errorDialog');
    const closeButton = dialog ? dialog.querySelector('button') : null;
    closeButton?.addEventListener('click', () => {
        dialog.close();
    });

    const flashedMessages = {{ get_flashed_messages(with_categories=true) | tojson }};
    parseFlashedMessages(flashedMessages, dialog);

    window.onload = loadCityWeatherData("{{ url_for('renderWeather') }}",
      "{{ latitude }}",
      "{{ longitude }}",
      "{{ city }}",
      "{{ state }}",
      "{{ country }}",
      "weather"
    );
  </script>
{% endblock %}
