<!--

Golden Hour App Group 1
UMGC CMSC 495 7385
Shivam Patel, Raymond Rowland, Mariam Ahmed, Katrina Wilhelm, Paul Cooper
November 5, 2025

selectLocation.html

Handles the display of multiple location options
for user selection when multiple matches are found.
-->

<h3 class="centered">Please Select The Location You Are Looking For</h3>
<div class="favorite-grid">  
    <h4 class="centered">Latitude</h4>
    <h4 class="centered">Longitude</h4>
    <h4 class="centered">City</h4>
    <h4 class="centered">State</h4>
    <h4 class="centered">Country</h4>
    <h4 class="centered">Action</h4>
</div>
<hr width="99%"/>
{% if locations %}
    {% for loc in locations %}
        <div class="favorite-grid">
          <p class="centered">{{ "{:.4f}".format(loc['lat']) }}</p>
          <p class="centered">{{ "{:.4f}".format(loc['lon']) }}</p>
          <p class="centered">{{ loc['name'] }} </p> 
          <p class="centered">{{ loc['state'] if loc['state'] else "" }}</p>
          <p class="centered">{{ loc['country'] }}</p>
          <div class="centered-div">
            <button onclick="loadCityWeatherData('{{ url_for("renderWeather") }}', '{{ loc["lat"] }}', '{{ loc["lon"] }}', '{{ loc["name"] }}', '{{ loc["state"] if loc["state"] else "" }}', '{{ loc["country"] }}', 'weather')">View</button>
          </div>
        </div> 
    {% endfor %}
{% else %}
  <p>No favorite locations saved.</p>
{% endif %}

<script>
  document.querySelector('#back').addEventListener('click', function() {
    window.location.href = "{{ url_for('index') }}";
  });
</script>
