/*
Golden Hour App Group 1
UMGC CMSC 495 7385
Shivam Patel, Raymond Rowland, Mariam Ahmed, Katrina Wilhelm, Paul Cooper
November 5, 2025

style.css

The stylesheet for the Golden Hour Flask application.
Defines color variables and styles for layout and responsiveness.
*/
:root{
  --bg: rgb(28, 28, 28);
  --herobg: rgb(38, 38, 38);
  --header-bg: rgb(18, 18, 18);
  --accent: hsl(42, 100%, 70%);
  --muted: #6b7280;
  --text: #ffffff;
  --golden: #efbf04;
  --error-bg: rgb(64, 0, 0);
  --success-bg: rgb(0, 66, 0);
  --login-bg: rgb(85, 85, 85);
  --input-border: #e6edf3;
}

body{
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--bg);
  color: var(--text);
  margin:0;
  -webkit-font-smoothing:antialiased;
}

.site-header{
  display:flex;
  align-items:center;
  gap:12px;
  padding:24px;
  background:linear-gradient(90deg, var(--header-bg), rgba(127,200,255,0.03));
}

.mobile-site-header{
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(90deg, var(--header-bg), rgba(127,200,255,0.03));
}

.logo{ width:128px; height:128px }

.container{ padding:32px }

.hero{ 
    background:var(--herobg); 
    padding:24px; 
    border-radius:12px
}

.form-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
}

.form-button {
  grid-column-start: 2;
  width: 20%;
}

@media screen and (min-width: 768px) {
  .mobile-site-header{
    display:none;
  }
}

@media (max-width: 768px) {
  .form-input-group {
    grid-template-columns: 1fr; /* Stack form groups vertically on smaller screens */
  }

  .form-button {
    grid-column: span 1;
    width: 100%; /* Make the button full width on mobile */
  }

  .site-header{
    display:none;
  }
}

input{ 
    padding:8px 10px;
    border-radius:8px;
    border:1px solid var(--input-border);
}

button{ 
    background:var(--accent); 
    border:none;
    padding:8px 12px; 
    border-radius:8px; 
    cursor:pointer 
}

footer{ 
    padding:18px; 
    text-align:center; 
    color:var(--muted) 
}

.weather-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:12px;
  text-align: center;
}

.weather-card{
  display:grid;
  grid-template-columns: subgrid;
  grid-template-rows: 22% 22% 32% 22%;
  text-align: center;
  place-items: center;
  border: white;
}

.centered{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.golden {
  color: var(--golden);
}

.error-dialog {
  position: fixed;
  box-sizing: border-box;
  inset: 0;
  align-items: center;
  padding: 16px;
  color: var(--text);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.error-dialog.error {
  background-color: var(--error-bg);
}

.error-dialog.success {
  background-color: var(--success-bg);
}

.login-dialog {
  position: fixed;
  box-sizing: border-box;
  inset: 0;
  align-items: center;
  padding: 16px;
  background-color: var(--login-bg);
  color: var(--text);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.tab {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  overflow: hidden;
  border: 1px solid var(--input-border);
  background-color: var(--header-bg);
  padding: 2px;
}

.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  color: var(--text);
  background-color: var(--hero-bg);
}

.tab button:hover {
  background-color: var(--login-bg);
}

.tab button.active {
  background-color: var(--accent);
}

.tabcontent {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 5px;
  padding-top: 5px;
}

.favorite-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  gap: 10px 5px;
  margin-top:12px;
  vertical-align: middle;
}