name: Run Pytests

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m venv .venv
        source .venv/bin/activate
        pip install -r flask_app/requirements.txt  
    - name: Run Tests
      env: 
        OPEN_WEATHER_MAP_API_KEY: ${{ secrets.OPEN_WEATHER_MAP_API_KEY }}
      run: |
        echo "Running tests..."
        source .venv/bin/activate
        python -m pytest .

  build:
    runs-on: ubuntu-latest
    needs: [test]
  
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv
          source .venv/bin/activate
          pip install -r flask_app/requirements.txt
          python -m build -w
          exit 1
    
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          # Artifact name
          # name: artifact # optional, default is artifact
        
          # A file, directory or wildcard pattern that describes what to upload
          path: dist/*.whl
         
          # The desired behavior if no files are found using the provided path.
          # Available Options:
          #   warn: Output a warning but do not fail the action
          #   error: Fail the action with an error message
          #   ignore: Do not output any warnings or errors, the action does not fail
          
          if-no-files-found: error # optional, default is warn

          # Duration after which artifact will expire in days. 0 means using default retention.
          #Minimum 1 day. Maximum 90 days unless changed from the repository settings page.
          retention-days: 1 # optional
              